<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utility"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.example.utility.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.example.utility.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBkbh8PHaynn5KG5gPUtQIyNfl8uHhqTmQ" />

        <activity
            android:name=".validacao.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".validacao.Cadastro"
            android:label="@string/title_activity_cadastro" >
        </activity>
        <activity
            android:name=".negocio.RelacaoVeiculos"
            android:label="@string/title_activity_relacao_veiculos" >
        </activity>
        <activity
            android:name=".negocio.GerenciarVeiculos"
            android:label="@string/title_activity_gerenciar_veiculos" >
        </activity>
        <activity
            android:name=".negocio.Mapa"
            android:label="@string/title_activity_mapa" >
        </activity>
        <activity
            android:name=".negocio.Contatos"
            android:label="@string/title_activity_contatos" >
        </activity>
        <activity
            android:name=".negocio.ContatoSimples"
            android:label="@string/title_activity_contato_simples" >
        </activity>
    </application>

</manifest>
